<div class="d-flex justify-content-between">
  <h3>Usuarios</h3>
  <span style="font-size: 32px;color: Dodgerblue;" routerLink="new">
    <i class="fas fa-plus-circle"></i>
  </span>
</div>
<div class="line"></div>
<div class="d-flex justify-content-start my-3" style="align-items: flex-end">
  <div>
    <input id="search-participant" type="search" class="form-control w-100" #searchBox
           placeholder="Nombre del evento" aria-label="Search" (keyup)="search(searchBox.value)"/>

  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
      <th scope="col">Nº teléfono</th>
      <th scope="col">Estado</th>
    </thead>
    <tbody>
    <tr *ngFor="let sportsman of sportsman | async" [class.inactive]="!sportsman.active" routerLink="show/{{sportsman.id}}">
      <th scope="row"><a placement="top" ngbTooltip="{{sportsman.id}}">{{sportsman.id.substring(0,5)}}...</a></th>
      <td>{{sportsman.name}}</td>
      <td>{{sportsman.surnames}}</td>
      <td>{{sportsman.email}}</td>
      <td>{{sportsman.mobileNumber}}</td>
      <td>{{sportsman.active ? 'Activo' : 'Inactivo'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <ngb-pagination [pageSize]="searchSportsman.pageSize" [collectionSize]="searchSportsman.totalItems"
                    [maxSize]="searchSportsman.pages" [(page)]="searchSportsman.page"
                    (pageChange)="onPageChange($event)"></ngb-pagination>
  </div>
</div>
