<div class="row">
  <div class="col-md-12 col-sm-12 mt-lg-3 mt-md-3 mt-2 px-lg-2 px-md-2 px-0">

    <div *ngIf="myEvents.length > 0">
      <div class="box-event d-flex flex-row px-sm-1 px-md-1 mb-3" [class.sponsored]="me.event.sponsored"
           *ngFor="let me of myEvents">
        <img *ngIf="me.event.sponsored" class="img-sponsored" src="assets/logo.png">
        <div class="box-image">
          <img class="image-event" src="{{me.event.photo | imageEvent}}">
        </div>
        <div class="event-content mr-md-3 mr-lg-3 mr-2">
          <div class="d-flex flex-column">
            <h3 class="mt-4 title-event">{{me.event.tittle}}</h3>
            <div class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between">
              <p class="date-event">{{me.event.celebrationDate | date:'medium'}}</p>
              <p class="location-event">{{me.event.city}}</p>
            </div>
            <p class="category-event">
              <strong>{{me.event.categories}}</strong>
            </p>
            <div class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-end justify-content-lg-end align-items-end mb-2">
              <div style="background-color: white; width: 150px;height: 88px" class="d-flex flex-column" *ngIf="me.dorsal">
                <div class="d-flex justify-content-center mt-1">Dorsal</div>
                <div class="d-flex justify-content-center"><h3 style="color:#00B152">{{me.dorsal}}</h3></div>
                <div style="padding: 8px; margin-right:5px;margin-left:5px;background-color:  #046BC7"></div>
              </div>
              <h3  *ngIf="!me.dorsal" style="color:#00B152">{{'SIN DORSAL'}}</h3>
            </div>
            <div class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between align-items-end mb-2">
              <div class="d-flex flex-row">
                <share-button button="facebook" theme="circles-dark" [icon]="['fab', 'facebook-square']"
                              (opened)="openFacebook(me.event)"></share-button>
                <share-button button="twitter" theme="circles-dark" [icon]="['fab', 'twitter-square']"
                              [title]="'Unete conmigo al evento'+me.event.tittle+'!'"
                              [description]="'Unete conmigo al evento'+me.event.tittle+'!'" [tags]="me.event.categories"
                              [url]="url+'/'+me.event._id"></share-button>
                <share-button button="whatsapp" theme="circles-dark" [icon]="['fab', 'whatsapp']"
                              [title]="'Unete conmigo al evento'+me.event.tittle+'!'"
                              [description]="'Unete conmigo al evento'+me.event.tittle+'!'" [tags]="me.event.categories"
                              [url]="url+'/'+me.event._id"></share-button>
              </div>
              <div class="btn btn-primary btn-lg btn-autosize mt-sm-2 mt-xl-2" routerLink="/event/{{me.event._id}}">Más información
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" *ngIf="myEvents.length > 0 && !empty">
        <div *ngIf="loading" class="alert alert-warning d-block text-center position-absolute">Cargando datos...</div>
        <div class="search-results"
             infiniteScroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="50"
             (scrolled)="onScroll()">
        </div>
      </div>

      <div *ngIf="empty" class="alert alert-primary d-block text-center">Ya no tienes más eventos!</div>

    </div>
    <div *ngIf="myEvents.length === 0" class="alert alert-primary d-block text-center">No tienes eventos! <a
      routerLink="/">Buscar eventos</a></div>
  </div>
</div>
