.add-payment fa-icon {
    color: #0069d9;
    cursor: pointer;
    font-size: 2em;
}

.dropdown-item:hover {
    background-color: #0069d9;
}

.dropdown-item:hover span {
    color: white;
}

.paymentDelete:hover fa-icon {
    color: red;
    cursor: pointer;
}

.address {
   border: 1px solid gray;
   border-radius: 5px;
   line-height: 2;
   padding: 1em;
}

.edit-link, .delete-link {
   color:  rgb(37, 52, 255);
}

.editButton:hover {

}

@media (max-width: 768px) {

   button[type="submit"] {
      width: 100%;
   }
}