<div class="row m-lg-0 m-md-0 m-2">
   <div class="col-md-3 col-sm-12 mt-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         <a class="nav-link active" id="v-pills-home-tab" data-toggle="tab" href="#v-pills-home" role="tab"
            [ngClass]="{ 'active':activeTab==='info'}" (click)="changeActiveTab('info')">Información</a>
         <a class="nav-link" id="v-pills-profile-tab" data-toggle="tab" href="#v-pills-profile" role="tab"
            [ngClass]="{ 'active':activeTab==='inscription'}" (click)="changeActiveTab('inscription')">Inscripciones</a>
         <a class="nav-link" id="v-pills-inscription-tab" data-toggle="tab" href="#v-pills-home" role="tab"
            (click)="changeActiveTab('inscriptionData', inscriptionID)" href="#v-pills-inscription"
            [ngClass]="{ 'active':activeTab==='inscriptionData', 'disabled': activeTab !== 'inscriptionData' }">Confirmar
            datos</a>
         <a class="nav-link" id="v-pills-resume-tab" data-toggle="tab" href="#v-pills-resume" role="tab"
            (click)="changeActiveTab('payment')" href="#v-pills-resume"
            [ngClass]="{ 'active':activeTab==='resume', 'disabled': activeTab !== 'resume' }">Pasarela de pago</a>
         <a class="nav-link" id="v-pills-doc-tab" target="_blank" href="{{event.document}}"
            [ngClass]="{ 'disabled':event.document===null}">Documentación</a>
      </div>
   </div>
   <div class="col-md-9 col-sm-12 mt-lg-3 mt-md-3 mt-2 px-lg-2 px-md-2 px-0">
      <div class="tab-content" id="v-pills-tabContent">
         <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
            [ngClass]="{ 'active':activeTab==='info','show':activeTab==='info'}">
            <div class="d-flex justify-content-center">
               <img style="width: 80%;" src="{{event.photo | imageEvent}}">
            </div>
            <h3 class="mt-4 title-event">{{event.tittle}}</h3>
            <div
               class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between">
               <p class="location-event">{{event.location}}</p>
               <p class="location-event">Celebración: 
                  <strong>{{event.celebrationDate | date: 'dd MMMM yyyy'}}</strong>
               </p>
            </div>
            <div
               class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between">
               <span class="location-event">Categorias: <strong>{{event.categories}}</strong></span>
               <p class="location-event" *ngIf="event.closeInscriptions">Cierre:
                  <strong>{{event.closeInscriptions | date: 'dd MMMM yyyy'}}</strong></p>
            </div>
            <div class="d-flex justify-content-start mb-2">
               <span class="location-event">Distancia: <strong>{{event.distance}}</strong></span>
            </div>
            <p>{{event.description}}</p>
            <!--<div class="d-flex justify-content-end">-->
            <!--<p class="message-lead">Quedan pocas plazas!</p>-->
            <!--</div>-->
            <share-button button="facebook" theme="circles-dark" [icon]="['fab', 'facebook-square']" (opened)="open()">
            </share-button>
            <share-button button="twitter" theme="circles-dark" [icon]="['fab', 'twitter-square']"
               [title]="'Unete conmigo al evento'+event.tittle+'!'"
               [description]="'Unete conmigo al evento '+event.tittle+'!'" [tags]="event.categories"
               [url]="url+'/event/'+event.id"></share-button>
            <share-button button="whatsapp" theme="circles-dark" [icon]="['fab', 'whatsapp']"
               [title]="'Unete conmigo al evento'+event.tittle+'!'"
               [description]="'Unete conmigo al evento '+event.tittle+'!'" [tags]="event.categories"
               [url]="url+'/event/'+event.id"></share-button>
            <div class="d-flex justify-content-end">
               <div class="btn btn-primary btn-lg btn-autosize" (click)="changeActiveTab('inscription')">
                  Reserva tu plaza
               </div>
            </div>
            <div class="d-flex justify-content-end">
               <p class="tax-event">Impuestos y tasas incluídas</p>
            </div>

         </div>

         <!-- INSCRIPTIONS TAB -->
         <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            [ngClass]="{'active':activeTab==='inscription','show':activeTab==='inscription'}">
            <div *ngFor="let i of event.typeInscription">
               <div class="inscription mb-3" *ngIf="i.active">
                  <div class="d-flex justify-content-between" style="background-color: #086AC7; color:white!important;">
                     <!-- <div style="padding: 10px">
                        <strong>Descripción:</strong>
                     </div> -->
                     <div style="padding: 10px" class="font-weight-bold">
                        <p style="color:white!important;">{{i.tittle}}</p>
                     </div>
                  </div>
                  <div class="d-flex justify-content-between">
                     <div style="padding: 10px;max-width: 600px">
                        <p style="word-break: break-all;white-space: normal;">{{i.description}}</p>
                     </div>
                     <div style="padding: 10px; max-width: 200px!important;">
                        <h4 class="price-incription" style="color:#00B152">{{i.price}}&euro;
                           <small>({{i.taxPercentage}}% iva.)</small>
                        </h4>
                     </div>
                  </div>
                  <div class="d-flex justify-content-end">
                     <button class="btn btn-primary btn-lg btn-autosize m-2"
                        (click)="changeActiveTab('inscriptionData', i)">Inscribete</button>
                  </div>
               </div>
            </div>
         </div>

         <!-- RESUME TAB -->
         <div class="tab-pane fade" id="v-pills-resume" role="tabpanel" aria-labelledby="v-pills-resume-tab"
            [ngClass]="{'active':activeTab==='resume', 'show': activeTab==='resume' }">
            <div class="row">
               <div class="col-sm-12">Resumen</div>
            </div>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="sportsman-data-tab">
               <div class="col-sm-12"><strong>Evento:</strong> {{event.tittle}}</div>
               <div class="col-sm-12"><strong>Tipo de inscripción:</strong> {{inscription.tittle}}</div>
               <div class="col-sm-12"><strong>Pago:</strong> {{inscription.price}}€</div>

               <div class="row">
                  <strong>Datos del corredor</strong>
                  <div class="col-sm-12">{{user.name}} {{user.surnames}}</div>
                  <div class="col-sm-12">{{user.address}}</div>
                  <div class="col-sm-12">{{user.poblation}}, {{user.county}}</div>                  
               </div>

               <div class="row">
                  <button type="submit" (click)="tpv()">Pasar a pasarela de pago</button>
               </div>
            </div>
         </div>

         <!-- CONFIRM DATA TAB-->
         <div class="tab-pane fade" id="v-pills-inscriptionData" role="tabpanel"
            aria-labelledby="v-pills-inscriptionData-tab"
            [ngClass]="{'active':activeTab==='inscriptionData','show':activeTab==='inscriptionData'}">
            <div class="row">Confirmar datos</div>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="sportsman-data-tab">

               <div class="form-group row mt-5 justify-content-center">
                  <label for="name" class="col-sm-2">Nombre</label>
                  <div class="col-sm-4">
                     <input type="text" id="name" class="form-control" [(ngModel)]="user.name" value="{{user.name}}">
                  </div>

                  <label for="surnames" class="col-sm-2">Apellidos</label>
                  <div class="col-sm-4">
                     <input type="text" id="surnames" class="form-control" [(ngModel)]="user.surnames"
                        value="{{user.surnames}}">
                  </div>
               </div>

               <div class="form-group row mt-5 justify-content-center">
                  <label for="address" class="col-sm-2 col-form-label">Dirección</label>
                  <div class="col-sm-10">
                     <input type="text" id="address" class="form-control" value="{{user.address}}"
                        [(ngModel)]="user.address">
                     <small id="emailHelp" class="form-text text-muted">¡Para nosotros es muy importante
                        que nos indiques tu dirección para que podamos mandarte el dorsal directamente a
                        casa!</small>
                  </div>
               </div>

               <div class="form-group row mt-5 justify-content-center">
                  <label for="poblation" class="col-sm-2 col-form-label">Población</label>
                  <div class="col-sm-4">
                     <input type="text" id="poblation" class="form-control" value="{{user.poblation}}"
                        [(ngModel)]="user.poblation">
                  </div>
                  <label for="county" class="col-sm-2 col-form-label">Provincia</label>
                  <div class="col-sm-4">
                     <input type="text" id="county" class="form-control" value="{{user.county}}"
                        [(ngModel)]="user.county">
                  </div>
               </div>

               <div class="form-group row mt-5 justify-content-start">
                  <label for="shirtsize" class="col-sm-2 col-form-label">Talla del dorsal</label>
                  <div class="col-sm-4">
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="shirtsize" id="exampleRadios1" value="S"
                           [(ngModel)]="user.shirtsize">
                        <label class="form-check-label" for="exampleRadios1">S</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="shirtsize" id="exampleRadios2" value="M"
                           [(ngModel)]="user.shirtsize">
                        <label class="form-check-label" for="exampleRadios2">M</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="shirtsize" id="exampleRadios3" value="L"
                           [(ngModel)]="user.shirtsize">
                        <label class="form-check-label" for="exampleRadios3">L</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="shirtsize" id="exampleRadios3" value="XL"
                           [(ngModel)]="user.shirtsize">
                        <label class="form-check-label" for="exampleRadios3">XL</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="shirtsize" id="exampleRadios3" value="XXL"
                           [(ngModel)]="user.shirtsize">
                        <label class="form-check-label" for="exampleRadios3">XXL</label>
                     </div>
                     <small id="shirtHelp" class="form-text text-muted">¡Elige tu talla y nosotros nos
                        ocupamos del resto!</small>
                  </div>

                  <label for="sex" class="col-sm-2">Sexo</label>
                  <div class="col-sm-4">
                     <select name="sex" id="sex" class="form-control" [(ngModel)]="user.sex">
                        <option value="hombre" selected>Hombre</option>
                        <option value="mujer">Mujer</option>
                     </select>
                  </div>
               </div>

               <div class="row justify-content-start mt-5">
                  <label for="phone" class="col-sm-2">Teléfono</label>
                  <div class="col-sm-5">
                     <input type="tel" id="phone" class="form-control" [(ngModel)]="user.mobileNumber"
                        value="{{user.phone}}">
                     <small id="emailHelp" class="form-text text-muted">Facilitándonos un número de
                        teléfono te podremos avisar si surge algún imprevisto con los eventos</small>
                  </div>
               </div>

               <div class="form-group row mt-5 justify-content-left">
                  <div class="dropdown col-sm-3 align-self-center">
                     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Métodos de pago
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li *ngIf="paymentMethods.length == 0" class="dropdown-item">No tienes métodos
                           de pago.</li>
                        <li *ngFor="let payment of paymentMethods" class="dropdown-item" #PID
                           attr.data-pid="{{payment._id}}">
                           <span class="col-sm-4 paymentDescription">{{payment.name}} /
                              #{{payment.cardNumber}}</span>
                           <span class="col-sm-2 paymentDelete" placement="top" ngbTooltip="Borrar método de pago">
                              <fa-icon [icon]="faTrash" (click)="deletePaymentMethod(PID)">
                              </fa-icon>
                           </span>
                        </li>
                     </div>
                  </div>

                  <div class="col-sm-2 text-center">
                     <div class="add-payment" (click)="openModal(content)" placement="top"
                        ngbTooltip="Añadir nuevo método de pago">
                        <fa-icon [icon]="faPlus"></fa-icon>
                     </div>
                  </div>
               </div>

               <div class="row justify-content-end mt-3 mb-5">
                  <button type="submit" class="btn btn-outline-primary" role="button" aria-pressed="true"
                     (click)="changeActiveTab('resume'); saveData()" #DataSubmit>Guardar datos y pasar a la pasarela de
                     pago</button>
               </div>
            </div>

            <!-- NG template-->
            <ng-template #content let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-title">Agregar método de pago</h4>
                  <button type="button" class="close" aria-describedby="modal-title"
                     (click)="modal.dismiss('Cross click')">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form [formGroup]="paymentMethodForm">
                     <div class="form-group row mt-3 justify-content-start">
                        <label for="name" class="col-sm-2 col-form-label">Nombre del método de
                           pago</label>
                        <div class="col-sm-9">
                           <input type="text" formControlName="name" id="name" class="form-control"
                              [(ngModel)]="newPaymentMethod.name"
                              [class.is-invalid]="!paymentMethodForm.controls['name'].valid && (!paymentMethodForm.controls['name'].pristine)"
                              [class.is-valid]="paymentMethodForm.controls['name'].valid && (!paymentMethodForm.controls['name'].pristine)"
                              value="Nueva tarjeta">
                        </div>
                     </div>

                     <div class="form-group row mt-3 justify-content-start">
                        <label for="name" class="col-sm-2 col-form-label">Nombre del titular</label>
                        <div class="col-sm-9">
                           <input type="text" formControlName="ownerName" id="ownerName" class="form-control"
                              [(ngModel)]="newPaymentMethod.ownerName"
                              [class.is-invalid]="!paymentMethodForm.controls['ownerName'].valid && (!paymentMethodForm.controls['ownerName'].pristine)"
                              [class.is-valid]="paymentMethodForm.controls['ownerName'].valid && (!paymentMethodForm.controls['ownerName'].pristine)">
                        </div>
                     </div>

                     <div class="form-group row mt-3 justify-content-start">
                        <label for="creditnumber" class="col-sm-2 col-form-label">Nº de tarjeta</label>
                        <div class="col-sm-9">
                           <input type="text" id="creditnumber" class="form-control" formControlName="creditnumber"
                              [(ngModel)]="newPaymentMethod.cardNumber"
                              [class.is-invalid]="!paymentMethodForm.controls['creditnumber'].valid && (!paymentMethodForm.controls['creditnumber'].pristine)"
                              [class.is-valid]="paymentMethodForm.controls['creditnumber'].valid && (!paymentMethodForm.controls['creditnumber'].pristine)">
                        </div>
                     </div>

                     <div class="form-group row mt-5 justify-content-start">
                        <label for="monthExpire" class=" col-sm-2 col-form-label">Fecha de
                           caducidad</label>
                        <div class="col-sm-4">
                           <select class="form-control" formControlName="monthExpire"
                              [(ngModel)]="newPaymentMethod.monthExpire">
                              <option *ngFor="let month of months" [ngValue]="month.id">
                                 {{month.name}}</option>
                           </select>
                        </div>
                        /
                        <div class="col-sm-4">
                           <select class="form-control" formControlName="yearExpire"
                              [(ngModel)]="newPaymentMethod.yearExpire">
                              <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                           </select>
                        </div>
                     </div>

                     <div class="form-group row mt-3 justify-content-start">
                        <label for="CVC" class="col-sm-2 col-form-label">CVC</label>
                        <div class="col-sm-9">
                           <input type="text" formControlName="CVC" id="CVC" class="form-control"
                              [(ngModel)]="newPaymentMethod.CVC"
                              [class.is-invalid]="!paymentMethodForm.controls['CVC'].valid && (!paymentMethodForm.controls['CVC'].pristine)"
                              [class.is-valid]="paymentMethodForm.controls['CVC'].valid && (!paymentMethodForm.controls['CVC'].pristine)">
                        </div>
                     </div>

                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="addPaymentMethod()"
                     [disabled]="!paymentMethodForm.valid">Agregar método de pago</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Cancelar</button>
               </div>
            </ng-template>

            

         </div>
      </div>