<div class="row m-lg-0 m-md-0 m-2">
   <div class="col-md-3 col-sm-12 mt-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

         <a class="nav-link active" id="v-pills-home-tab" data-toggle="tab" href="#v-pills-home" role="tab"
            [ngClass]="{ 'active':activeTab==='info'}" (click)="changeActiveTab('info')">Información</a>

         <a class="nav-link" id="v-pills-profile-tab" data-toggle="tab" href="#v-pills-profile" role="tab"
            [ngClass]="{ 'active':activeTab==='inscription'}" (click)="changeActiveTab('inscription')">Inscripciones</a>

         <a class="nav-link" id="v-pills-inscription-tab" data-toggle="tab" href="#v-pills-home" role="tab"
            (click)="changeActiveTab('inscriptionData', inscriptionID)" href="#v-pills-inscription"
            [ngClass]="{ 'active':activeTab==='inscriptionData', 'disabled': inscription.length == 0 }">Confirmar datos</a>

         <a class="nav-link" id="v-pills-resume-tab" data-toggle="tab" href="#v-pills-resume" role="tab"
            (click)="changeActiveTab('payment')" href="#v-pills-resume"
            [ngClass]="{ 'active':activeTab==='resume', 'disabled': activeTab !== 'resume' }">Pasarela de pago</a>

         <a class="nav-link" id="v-pills-doc-tab" target="_blank" href="{{event.document}}"
            [ngClass]="{ 'disabled':event.document===null}">Documentación</a>

      </div>
   </div>
   <div class="col-md-9 col-sm-12 mt-lg-3 mt-md-3 mt-2 px-lg-2 px-md-2 px-0">
      <div class="tab-content" id="v-pills-tabContent">
         <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
            [ngClass]="{ 'active':activeTab==='info','show':activeTab==='info'}">
            <div class="d-flex justify-content-center">
               <img style="width: 80%;" src="{{event.photo | imageEvent}}">
            </div>
            <h3 class="mt-4 title-event">{{event.tittle}}</h3>
            <div
               class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between">
               <p class="location-event"><strong>{{event.location}}</strong></p>
               <p class="location-event">Celebración:
                  <strong>{{event.celebrationDate | date: 'dd MMMM yyyy'}}</strong>
               </p>
            </div>
            <div
               class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between">
               <span class="location-event">Categorias: <strong>{{event.categories}}</strong></span>
               <p class="location-event" *ngIf="event.closeInscriptions">Cierre:
                  <strong>{{event.closeInscriptions | date: 'dd MMMM yyyy'}}</strong></p>
            </div>

            <div class="d-flex justify-content-start mb-2">
               <span class="location-event">Distancia: <strong>{{event.distance}}</strong></span>
            </div>
            <p>{{event.description}}</p>

            <div
               class="d-flex flex-md-row flex-lg-row flex-column justify-content-md-between justify-content-lg-between">
               <span class="organizer">Organizador: <strong>{{event.organizer}}</strong></span>
            </div>

            <hr />

            <p><strong>Información meteorológica</strong></p>
            <div class="row mb-5 mt-5">
               <div class="col-sm-2 align-self-center justify-content-center">
                  <i *ngIf="currentIcon" class="fab fas fa-7x {{currentIcon}}"></i>
                  <div class="text-center">{{currentIconText}}</div>
               </div>
               <div class="col-sm-1">
                  <div class="line-vertical"></div>
                  <span>o</span>
                  <div class="line-vertical"></div>
               </div>
               <div class="col-sm-4  align-self-center justify-content-center">
                  <div>Min. {{event.temperatureMin}} °C</div>
                  <div>Max. {{event.temperatureMax}} °C</div>
                  <div>Prob. Lluvia {{event.chanceRain}}%</div>
               </div>
               <div class="col-sm-1">
                  <div class="line-vertical"></div>
                  <span>o</span>
                  <div class="line-vertical"></div>
               </div>
               <div class="col-sm-4 align-self-center justify-content-center">
                  <div class="temperature">{{event.temperature}} °C</div>
               </div>
            </div>
            <!--<div class="d-flex justify-content-end">-->
            <!--<p class="message-lead">Quedan pocas plazas!</p>-->
            <!--</div>-->
            <share-button button="facebook" theme="circles-dark" [icon]="['fab', 'facebook-square']" (opened)="open()">
            </share-button>
            <share-button button="twitter" theme="circles-dark" [icon]="['fab', 'twitter-square']"
               [title]="'Unete conmigo al evento'+event.tittle+'!'"
               [description]="'Unete conmigo al evento '+event.tittle+'!'" [tags]="event.categories"
               [url]="url+'/event/'+event.id"></share-button>
            <share-button button="whatsapp" theme="circles-dark" [icon]="['fab', 'whatsapp']"
               [title]="'Unete conmigo al evento'+event.tittle+'!'"
               [description]="'Unete conmigo al evento '+event.tittle+'!'" [tags]="event.categories"
               [url]="url+'/event/'+event.id"></share-button>
            <div class="d-flex justify-content-end">
               <div class="btn btn-primary btn-lg btn-autosize" (click)="changeActiveTab('inscription')">
                  Reserva tu plaza
               </div>
            </div>
            <div class="d-flex justify-content-end">
               <p class="tax-event">Impuestos y tasas incluídas</p>
            </div>

         </div>

         <!-- INSCRIPTIONS TAB -->
         <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            [ngClass]="{'active':activeTab==='inscription','show':activeTab==='inscription'}">
            <div *ngFor="let i of event.typeInscription">
               <div class="inscription mb-3" *ngIf="i.active">
                  <div class="d-flex justify-content-between" style="background-color: #086AC7; color:white!important;">
                     <!-- <div style="padding: 10px">
                        <strong>Descripción:</strong>
                     </div> -->
                     <div style="padding: 10px" class="font-weight-bold">
                        <p style="color:white!important;">{{i.tittle}}</p>
                     </div>
                  </div>
                  <div class="d-flex justify-content-between">
                     <div style="padding: 10px;max-width: 600px">
                        <p style="word-break: break-all;white-space: normal;">{{i.description}}</p>
                     </div>
                     <div style="padding: 10px; max-width: 200px!important;">
                        <h4 class="price-incription" style="color:#00B152">{{i.price | number: ".2"}}&euro;
                           <!--<small>({{i.taxPercentage}}% iva.)</small>-->
                           <small>(impuestos incluidos)</small>
                        </h4>
                     </div>
                  </div>
                  <div class="d-flex justify-content-end">
                     <button class="btn btn-primary btn-lg btn-autosize m-2"
                        (click)="changeActiveTab('inscriptionData', i)">Inscribete</button>
                  </div>
               </div>

               <div class="inscription mb-3" *ngIf="!i.active">
                  <div class="d-flex justify-content-between" style="background-color: #e0a800; color:white!important;">
                     <!-- <div style="padding: 10px">
                        <strong>Descripción:</strong>
                     </div> -->
                     <div style="padding: 10px" class="font-weight-bold">
                        <p style="color:white!important;">{{i.tittle}}</p>
                     </div>
                     <div style="padding: 10px" class="font-weight-bold">
                        <p style="color:white!important;">Próximamente {{i.nextInscription | date}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- RESUME TAB -->
         <div class="tab-pane fade" id="v-pills-resume" role="tabpanel" aria-labelledby="v-pills-resume-tab"
            [ngClass]="{'active':activeTab==='resume', 'show': activeTab==='resume' }">
            <div class="row mt-3">
               <h3 class="col-sm-12">Resumen</h3>
            </div>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="sportsman-data-tab">
               <div class="col-sm-12"><strong>Evento:</strong> {{event.tittle}}</div>
               <div class="col-sm-12"><strong>Tipo de inscripción:</strong> {{inscriptionSelected.tittle}}</div>
               <div class="col-sm-12"><strong>Pago:</strong> {{inscriptionSelected.price | number: ".2"}}€</div>
               <div class="col-sm-12" *ngIf="address !== 'NAID'"><strong>Gastos de envío:</strong> {{inscriptionSelected.shippingCosts | number: ".2"}}€</div>

               <div class="row mt-3">
                  <strong>Datos del corredor</strong>
                  <div class="col-sm-12">{{addressSelected.name}} {{addressSelected.surnames}}</div>
                  <div class="col-sm-12" *ngIf="address !== 'NAID'">{{addressSelected.address}}</div>
                  <div class="col-sm-12" *ngIf="address !== 'NAID'">{{addressSelected.poblation}}, {{addressSelected.county}}, {{addressSelected.zipcode}}</div>
               </div>

               <div class="row mt-3">
                  <form action="https://sis-t.redsys.es:25443/sis/realizarPago" method="POST" target="_blank"
                     (submit)="submit()">
                     <input type="hidden" name="Ds_SignatureVersion" value="HMAC_SHA256_V1" />
                     <input type="hidden" name="Ds_MerchantParameters" value="{{paymentData.merchantParameters}}" />
                     <input type="hidden" name="Ds_Signature" value="{{paymentData.signature}}" />
                     <button type="submit" class="btn btn-primary">Realizar Pago</button>
                  </form>

               </div>
            </div>
         </div>

         <!-- CONFIRM DATA TAB-->
         <div class="tab-pane fade" id="v-pills-inscriptionData" role="tabpanel"
            aria-labelledby="v-pills-inscriptionData-tab"
            [ngClass]="{'active':activeTab==='inscriptionData','show':activeTab==='inscriptionData'}">
            <div class="row">
               <h3 class="mb-3">Selecciona una opción</h3>
               <div class="col-12 col-lg-12">
                  <div class="addresses" *ngFor="let address of addresses">
                     <div class="row">
                        <div class="col-1 col-lg-1 d-flex align-items-center justify-content-center">
                           <input type="radio" name="address" (click)="selectAddress(address._id)">
                        </div>
                        <div class="col-11 col-lg-11">
                           <div class="row">
                              <div class="col-12 col-lg-12">{{address.name}} {{address.surnames}}</div>
                              <div class="col-12 col-lg-12">{{address.address}}, {{address.county}}, {{address.zipcode}}
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-12 col-lg-12">Gastos de envío: {{inscriptionSelected.shippingCosts | number: ".2"}} €
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- No envío -->
                  <div class="addresses mt-5">
                     <div class="row">
                        <div class="col-1 col-lg-1 d-flex align-items-center justify-content-center">
                           <input type="radio" name="address" (click)="selectAddress('NAID')">
                        </div>
                        <div class="col-11 col-lg-11">
                           <div class="row">
                              <div class="col-12 col-lg-12">No deseo envío a domilicio. Yo iré a recogerlo.</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row mt-5">
               <div class="col-12 col-lg-12">
                  <button type="button" class="btn btn-primary" (click)="changeActiveTab('resume')">Finalizar y pasar al pago</button>
               </div>
            </div>

         </div>
      </div>
   </div>