.auth{
   background-color: #81b1d5!important;
   min-height: 94vh;
 }

a#create-count{
   cursor: pointer;
   text-decoration: underline!important;
   text-decoration-color:black!important;
}

a:active, a:link{
  color: #fffcc8;
  font-weight: 500;
}

.login-email{
  height: 100vh;
}

.line-vertical{
  border-left: 1px solid black;
  height: 100px;
  margin-left: 4px;
}

.line-horizontal{
  border-bottom: 1px solid black;
  width: 48%;
  margin-bottom: 8px;
}

.btn-social{
  width: 80%;
}
.separator-horizontal{
  display: none;
}

.input-group-prepend {
   width: 36px!important;
 }
 

@media (max-width: 768px) {
  .login{
    padding-top: 130px;
  }

  .separator-vertical {
    display: none;
  }

  .btn-social{
    width: 100%;
  }

  .separator-horizontal{
    display: block;
  }
}
