<!--component html goes here -->
<div class="row">

    <div class="col-md-4 col-sm-4 mt-4">
        <ul class="list-group">
            <li class="list-group-item" routerLink="add-friend" [routerLinkActive]="['active']" #rlal="routerLinkActive">Añadir amigos</li>
            <li class="list-group-item" routerLink="friend-requests" routerLinkActive="active">Solicitudes de amistad pendientes
                <span class="badge badge-primary badge-pill" #nRequests>0</span>
            </li>
            <li class="list-group-item" routerLink="time-comparator" routerLinkActive="active">Comparar tiempos con amigos</li>
        </ul>
    </div>

    
    <div class="col-md-8 col-sm-12 mt-4">
        <router-outlet></router-outlet>
    </div>
        
</div>