<div class="container mt-5">
   <p>
      La idea de <strong>ROLL AND RACE</strong> nace como empresa de nueva generación para dar
      respuesta a las nuevas necesidades que se encuentran tanto los deportistas,
      como los organizadores de eventos deportivos.
   </p>
   <p>
      A través de un portal web y una APP de móvil, los usuarios podrán inscribirse
      fácilmente en cualquier evento deportivo que se realice en España.
      Nuestra misión es, proveer de multitud de servicios que hagan más fácil la
      creación, participación y crecimiento de los eventos. Nuestro objetivo,
      convertirnos en el portal web líder de inscripciones en eventos deportivos.
      En conclusión, somos un grupo de amigos apasionados por el deporte con
      ganas de hacer más fácil la vida del deportista.
   </p>

</div>
