<div class="d-flex justify-content-start">
  <h3>Cambios en el sistema</h3>
</div>
<div class="line"></div>
<div class="table-responsive mt-3">
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let log of allLogs">
      <td><strong>{{log.createdAt| date:'dd/MM/yyyy HH:MM'}}</strong></td>
      <td>{{log.description}}</td>
    </tr>
    <tr *ngIf="allLogs.length===0">
      <td style="border:none!important;">No hay cambios en el sistema</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <ngb-pagination [pageSize]="pageItems" [collectionSize]="totalItems" [maxSize]="pages" [(page)]="page" (pageChange)="getLogs($event)"></ngb-pagination>
  </div>
</div>
